.theme-selector {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    /* margin-right: 15px; */
    margin-top: 20px;
}


.theme-buttons div {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    /* margin-left: 15px; */
    margin-right: 15px;
    border-radius: 50%;
}